html {
    background-color: #DDDDDD;
}
div.container {
    background-color: #EEEEEE;
    /*height: 100vh;*/
}

body{
background-color: #dddfd4; /* Blue */
    color: #000000;
    padding-top: 50px;
}

.bg-1 {
    background-color: #66b5ff; /* Blue */
    color: #ede8ff;
}
.bg-jasmin {
    background-color: #fae596; /* Blue */
    color: #000000;
}
.bg-grey {
    background-color: #dddfd4; /* Blue */
    color: #000000;
}
.bg-blue, .bg-blue a:link, .bg-blue a:visited, .bg-blue a:hover {
    background-color: #3fb0ac; /* Blue */
    color: #000000;
}
.bg-blue a:visited{
    background-color: #3fb0ac; /* Blue */
    color: #000000;
}
.bg-navyblue {
    background-color: #173e43; /* Blue */
    color: #ffffff;
    outline: none
}
.bg-navyblue ul li a:hover{
	color: #ffffff;
	background-color: #fae596;
}
.bg-navyblue ul li a:hover{
	color: #000000;
	background-color: #dddfd4;
}
.bg-navyblue a:link{
	color: #ffffff;
}
.bg-navyblue a:visited{
	color: #fff2f3;
	    outline: none
}
.bg-navyblue a:active{
	color: black;
	 background-color: #fff2f3;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: black;
    cursor: default;
    background-color: #dddfd4;
    border: 1px solid #dddfd4;
    border-bottom-color: #dddfd4;
}
.navbar-fixed-top {
    border-width: 0;
}

.nav-tabs > li {
    float: left;
    margin-top: 10px;
}
.btn.btn-success{
    margin: 10px 5px 0 5px;
}
.btn.btn-success.btn-countries {
    color: #000000;
    background-color: #3fb0ac;
    background-image: linear-gradient(to bottom, #399e99, #3fb0ac);
    border-color: #3fb0ac #3fb0ac #3fb0ac;
}
.btn.btn-success.btn-countries:hover {
    color: #000000;
    background-color: #3fb0ac;
    background-image: linear-gradient(to bottom, #3fb0ac, #3fb0ac);
    border-color: #3fb0ac #3fb0ac #3fb0ac;
}
.btn.btn-success.btn-countries-selected {
    color: #000000;
    background-color: #fae496;
    background-image: linear-gradient(to bottom, #e6d28f, #fae496);
    border-color: #fae496 #fae496 #fae496;
}
.btn.btn-success.btn-countries-selected:hover {
    color: #000000;
    background-color: #fae496;
    background-image: linear-gradient(to bottom, #fae496, #fae496);
    border-color: #fae496 #fae496 #fae496;
}
.btn-data {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comparison_btn_container{
    padding-bottom: 40px;
}
/* CSSy Rafała <3 */
.person-row:hover {
    background-color: #ddd;
    cursor: pointer;
}

p, h1, h2, h3, h4, h5 {
    text-align: justify;
}

td:nth-child(7), td:nth-child(8), th:nth-child(7), th:nth-child(8) {
    /*background-color: #ccc;*/
}

td:nth-child(7), th:nth-child(7) {
    border-left: 2px #666 solid;
}

/*#select-2-countries-a, #select-2-countries-b, #select-1-country-buttons {*/
    /*display: flex;*/
    /*justify-content: center;*/
/*}*/

/*#well-person-data {*/
    /*position: fixed;*/
/*}*/
