{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="container-fluid">
                <h3>Ogólnie o projekcie</h3>

                <p>
                    Zainspirował nas pomysł <a href="https://pl.wikipedia.org/wiki/Isaac_Asimov">Issaca Asimova</a>.
                    Naszym celem była próba przewidzenia jutra wyimaginowanych cywilizacji.<br>
                    Przy pomocy interpolacji oraz przekształconych przez nas fizycznych wzorów spróbowaliśmy
                    oszacować, jak w przyszłości będą
                    kształtować się wartości opisujące społeczeństwo.
                </p>

                <h3>Baza danych</h3>
                <p>Baza przechowuje dane o obywatelach fikcyjnych państw w podziale na lata.</p>
                <p>Losowe dane zostały wygenerowane przez napisany przez nas program. Program ten - w oparciu
                    o zadane przez nas współczynniki - wygenerował mieszkańców wybranego państwa nadając im
                    unikalne, ale jednak dopasowane do danego terytorium cechy. Umożliwiło to stworzenie fikcyjnych
                    państw
                    o swoich charakterystycznych cechach (na przykład: w Fitlandii znaczna większośc osób jest zdrowa i
                    aktywna
                    fizycznie) gdzie jednak każdy obywatel różni się od drugiego (płcią, wiekiem,
                    nałogami lub innymi
                    cechami).
                </p>

                <h3>Wzory</h3>
                <p>
                    Wzory, które przeksztalciliśmy aby obliczać wskaźniki w tej aplikacji:
                </p>
                <ul>
                    <li>odbicie sprężyste dwóch kul (współczynnik emigracji),</li>
                    <li>siła grawitacji dla dwóch ciał (wskaźnik wpływu kulturalnego),</li>
                    <li>średnia siła oddziaływania cząsteczek gazu na ścianę (wskaźnik zadowolenia z życia).</li>
                </ul>
                <p>Znaczenie i sposób odczytywania tych wskaźników opisany jest wewnątrz aplikacji.</p>
                <p>Poza tym opracowaliśmy również własne wzory - na przykład do wyliczenia poziomu zdrowia, który w
                rzeczywistości jest sumą różnych innych cech osoby: wiek, aktywność fizyczna, uprawianie sportu itd.</p>

            </div>
        </div>
    </div>
{% endblock %}

{% block Javascript %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}