{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{% static 'js/chartist.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>



    <title>Psychohistoria</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{% static 'css/site.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/chartist.min.css' %}" rel="stylesheet"/>
</head>
<body class="body">
<div class="container">
    <nav class="navbar bg-navyblue navbar-fixed-top" id="main-navbar">
        <div class="navbar-header">
            <span class="navbar-brand"><a href="/">Przewidujemy przyszłość!</a></span>
        </div>
        <ul class="nav nav-tabs bg-navyblue">
            <li id="menu-select"><a href="/">Menu główne</a></li>
            <li id="menu-people"><a href="{% url 'people-info' %}">Przeglądaj populację</a></li>
            <li id="menu-about"><a href="{% url 'about' %}">O projekcie</a></li>
        </ul>
    </nav>
    {% block Content %}
        <!-- content -->
    {% endblock %}

</div>

{% block Javascript %}
    <!-- tu byl jakis komentarz o dodawaniu skryptow, ale nie pamietam już jaki :D Agata -->
{% endblock %}
</body>
</html>