{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block Content %}


    <div class="row">
        <div class="col-md-6">
            <h2>Państwo: <strong>{{ comparison_data.country_A.name }}</strong></h2>
            <h4>Populacja: <strong>{{ comparison_data.country_A.population }}</strong></h4>
        </div>
        <div class="col-md-6">
            <h2>Państwo: <strong>{{ comparison_data.country_B.name }}</strong></h2>
            <h4>Populacja: <strong>{{ comparison_data.country_B.population }}</strong></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h4>
                    <strong>
                        Wskaźniki pokazujące wpływ państwa {{ country_A.name }} na państwo {{ country_B.name }}:
                    </strong>
                </h4>

                <p>Poniższe wskaźniki określają wpływ pierwszego państwa na drugie.</p>

                <p>Wskaźnik w okolicy wartości zerowej oznacza uległość pod tym względem drugiemu państwu.
                    Wartość w okolicy liczby 1 oznacza wyrównany lub zerowy wpływ państw na siebie.
                    Im większy od 1 jest wskaźnik tym wpływ na drugie państwo jest mocniejszy.</p>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-5">
                                <p><strong>Wpływ kulturalny:</strong></p>

                                <p><strong>Rok 2011:</strong>
                                    {{ comparison_data.year2011.comparator_calculated_data.culture_ratio }}
                                </p>

                                <p><strong>Rok 2012:</strong>
                                    {{ comparison_data.year2012.comparator_calculated_data.culture_ratio }}
                                </p>

                                <p><strong>Rok 2013:</strong>
                                    {{ comparison_data.year2013.comparator_calculated_data.culture_ratio }}
                                </p>

                                <p><strong>Rok 2014:</strong>
                                    {{ comparison_data.year2014.comparator_calculated_data.culture_ratio }}
                                </p>

                                <p><strong>Rok 2015:</strong>
                                    {{ comparison_data.year2015.comparator_calculated_data.culture_ratio }}
                                </p>
                            </div>
                            <div class="col-md-7">
                                <div class="ct-chart" id="culture-chart"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p><strong>Przewidywane na rok 2016:</strong>
                                    {{ comparison_data.year2016.culture_ratio }}
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-5">
                                <p><strong>Wskaźnik emigracyjny:</strong></p>

                                <p><strong>Rok 2011:</strong>
                                    {{ comparison_data.year2011.comparator_calculated_data.emigration_ratio }}
                                </p>

                                <p><strong>Rok 2012:</strong>
                                    {{ comparison_data.year2012.comparator_calculated_data.emigration_ratio }}
                                </p>

                                <p><strong>Rok 2013:</strong>
                                    {{ comparison_data.year2013.comparator_calculated_data.emigration_ratio }}
                                </p>

                                <p><strong>Rok 2014:</strong>
                                    {{ comparison_data.year2014.comparator_calculated_data.emigration_ratio }}
                                </p>

                                <p><strong>Rok 2015:</strong>
                                    {{ comparison_data.year2015.comparator_calculated_data.emigration_ratio }}
                                </p>
                            </div>
                            <div class="col-md-7">
                                <div class="ct-chart" id="emigration-chart"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p><strong>Przewidywane na rok 2016:</strong>
                                    {{ comparison_data.year2016.emigration_ratio }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row comparison_btn_container">
        <div class="col-md-12">
            <div class="well">
                <h4>
                    <strong>
                        Porównanie średnich danych państwa {{ country_A.name }} z danymi państwa {{ country_B.name }}:
                    </strong>
                </h4>

                <p>Proszę wybrać interesującą cechę, aby pokazała się tabelka porównująca oba państwa pod jej
                    względem.</p>

                <p>Po prawej stronie od pionowej kreski w tabelce znajdują się dane prognozowane na przyszłość.</p>
                <hr>

                <button class="btn btn-success btn-countries" data-attribute="is_employed">
                    Zatrudnienie
                </button>
                <button class="btn btn-success btn-countries" data-attribute='is_homeless'>
                    Bezdomność
                </button>
                <button class="btn btn-success btn-countries" data-attribute='is_female'>
                    Kobiety
                </button>
                <button class="btn btn-success btn-countries" data-attribute='is_disabled'>
                    Niepełnosprawni
                </button>
                <button class="btn btn-success btn-countries" data-attribute='has_been_convicted'>
                    Karani
                </button>
                <button class="btn btn-success btn-countries" data-attribute='is_addicted_to_alcohol'>
                    Alkoholizm
                </button>
                <button class="btn btn-success btn-countries" data-attribute='is_a_smoker'>
                    Uzależnienie od tytoniu
                </button>
                <button class="btn btn-success btn-countries" data-attribute='has_heart_issues'>
                    Choroby kardiologiczne
                </button>
                <button class="btn btn-success btn-countries" data-attribute='is_addicted_to_drugs'>
                    Uzależnienie od narkotyków
                </button>
                <button class="btn btn-success btn-countries" data-attribute='is_active'>
                    Aktywność fizyczna
                </button>
                <button class="btn btn-success btn-countries" data-attribute='healthy_food'>
                    Zdrowa dieta
                </button>
                <button class="btn btn-success btn-countries" data-attribute='has_cancer'>
                    Choroba nowotworowa
                </button>
                <button class="btn btn-success btn-countries" data-attribute='education'>
                    Wykształcenie
                </button>
                <button class="btn btn-success btn-countries" data-attribute='happiness'>
                    Zadowolenie z życia
                </button>
                <button class="btn btn-success btn-countries" data-attribute='government_support'>
                    Poparcie dla rządu
                </button>
                <button class="btn btn-success btn-countries" data-attribute='age'>
                    Wiek
                </button>
                <button class="btn btn-success btn-countries" data-attribute='number_of_children'>
                    Liczba dzieci
                </button>
                <button class="btn btn-success btn-countries" data-attribute='size_of_house'>
                    Rozmiar domu
                </button>
                <button class="btn btn-success btn-countries" data-attribute='minutes_of_commuting'>
                    Minuty dojazu do pracy
                </button>
                <button class="btn btn-success btn-countries" data-attribute='salary'>
                    Pensja
                </button>
                <button class="btn btn-success btn-countries" data-attribute='distance_from_health_care'>
                    Odległość od ośrodka zdrowia
                </button>
                <button class="btn btn-success btn-countries" data-attribute='health_index'>
                    Poziom zdrowia
                </button>
            </div>
        </div>
    </div>
    <div class="comparison_details_container">
        <div id="is_employed" class="col-md-12">

            <table class="table">
                <thead>
                <tr>
                    <th>Zatrudnienie</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.is_employed|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.is_employed|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="is_homeless" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Bezdomność</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.is_homeless|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.is_homeless|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="is_female" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Kobiety</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.is_female|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.is_female|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="is_disabled" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Niepełnosprawni</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.is_disabled|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.is_disabled|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="has_been_convicted" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Karani</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.has_been_convicted|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.has_been_convicted|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="is_addicted_to_alcohol" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Alkoholizm</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.is_addicted_to_alcohol|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.is_addicted_to_alcohol|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="is_a_smoker" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Uzależnienie od tytoniu</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.is_a_smoker|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.is_a_smoker|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="is_a_smoker" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Uzależnienie od tytoniu</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.is_a_smoker|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.is_a_smoker|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="has_heart_issues" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Choroby kardiologiczne</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.has_heart_issues|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.has_heart_issues|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="is_addicted_to_drugs" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Uzależnienie od narkotyków</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.is_addicted_to_drugs|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.is_addicted_to_drugs|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="is_active" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Aktywność fizyczna</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.is_active|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.is_active|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="healthy_food" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Zdrowa dieta</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.healthy_food|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.healthy_food|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="has_cancer" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Choroba nowotworowa</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.has_cancer|percentage }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.has_cancer|percentage }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="education" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Wykształcenie</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.education|rounded }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.education|rounded }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="happiness" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Zadowolenie z życia</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.happiness|rounded }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.happiness|rounded }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="government_support" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Poparcie dla rządu</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.government_support|rounded }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.government_support|rounded }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="age" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Wiek</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.age|rounded }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.age|rounded }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="number_of_children" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Liczba dzieci</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.number_of_children|rounded }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.number_of_children|rounded }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="size_of_house" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Rozmiar domu</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.size_of_house|rounded }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.size_of_house|rounded }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="minutes_of_commuting" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Minuty dojazu do pracy</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.minutes_of_commuting|rounded }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.minutes_of_commuting|rounded }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="salary" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Pensja</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.salary|rounded }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.salary|rounded }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="distance_from_health_care" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Odległość od ośrodka zdrowia</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.distance_from_health_care|rounded }}</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.distance_from_health_care|rounded }}</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div id="health_index" class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Poziom zdrowia</th>
                    {% for data in yearly_data_A %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ comparison_data.country_A.name }}</strong>
                        {% for data in yearly_data_A %}
                            <td>{{ data.calculated_mean_data.health_index|rounded }}/100</td>
                        {% endfor %}
                </tr>
                <tr>
                    <td><strong>{{ comparison_data.country_B.name }}</strong>
                        {% for data in yearly_data_B %}
                            <td>{{ data.calculated_mean_data.health_index|rounded }}/100</td>
                        {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>


    </div>

{% endblock %}

{% block Javascript %}
    <script>
        $(document).ready(function () {

            hide_all();

            $('.comparison_btn_container button').click(function () {
                $("html, body").animate({scrollTop: $(document).height()}, 1000);

                var divId = this.dataset.attribute;
                if ($('#' + divId).is(':visible')) {
                    $('#' + divId).fadeOut(500, "swing");
                }
                else {
                    $('.comparison_details_container div').fadeOut(0, "swing");
                    $('#' + divId).fadeIn(500, "swing");
                }
            });
        });
        function hide_all() {
            $('.comparison_details_container div').fadeOut(500, "swing");
        }
    </script>

    <!-- Tworzenie wykresów -->
    <script src="{% static 'js/psycho_charts.js' %}"></script>
    <script>
        // nie ma czasu na mądre rozwiązania
        // niech żyje ctrl c ctrl v

        pleaseCreateWiderButSmallerChartOkay('#culture-chart', [
            null, null, null, null, {{ comparison_data.year2015.comparator_calculated_data.culture_ratio }},
            {{ comparison_data.year2016.culture_ratio }}

        ], [
            {{ comparison_data.year2011.comparator_calculated_data.culture_ratio }},
            {{ comparison_data.year2012.comparator_calculated_data.culture_ratio }},
            {{ comparison_data.year2013.comparator_calculated_data.culture_ratio }},
            {{ comparison_data.year2014.comparator_calculated_data.culture_ratio }},
            {{ comparison_data.year2015.comparator_calculated_data.culture_ratio }}
        ]);
        pleaseCreateWiderButSmallerChartOkay('#emigration-chart', [
            null, null, null, null, {{ comparison_data.year2015.comparator_calculated_data.emigration_ratio }},
            {{ comparison_data.year2016.emigration_ratio }}
        ], [
            {{ comparison_data.year2011.comparator_calculated_data.emigration_ratio }},
            {{ comparison_data.year2012.comparator_calculated_data.emigration_ratio }},
            {{ comparison_data.year2013.comparator_calculated_data.emigration_ratio }},
            {{ comparison_data.year2014.comparator_calculated_data.emigration_ratio }},
            {{ comparison_data.year2015.comparator_calculated_data.emigration_ratio }}
        ]);
    </script>
{% endblock %}