{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block Content %}
    <div class="row">
        <div class="col-md-10">
            <h2>Państwo: <strong>{{ country.name }}</strong></h2>
            <h4>Populacja: <strong>{{ country.population }}</strong></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h3><strong>Średnie dane z lat 2011-2015</strong>
{#                <button class="btn" id="btn-data">Wyświetl</button>#}
            </h3>
        </div>
    </div>
    <div class="row view" id="data-view">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Cecha</th>
                    {% for data in yearly_data %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Zatrudnienie</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.is_employed|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Bezdomność</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.is_homeless|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Kobiety</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.is_female|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Niepełnosprawni</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.is_disabled|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Karani</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.has_been_convicted|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Alkoholizm</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.is_addicted_to_alcohol|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Uzależnienie od tytoniu</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.is_a_smoker|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Choroby kardiologiczne</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.has_heart_issues|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Uzależnienie od narkotyków</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.is_addicted_to_drugs|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Aktywność fizyczna</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.is_active|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Zdrowa dieta</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.healthy_food|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Choroba nowotworowa</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.has_cancer|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Wykształcenie</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.education|rounded }}/4</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Zadowolenie z życia</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.happiness|rounded }}/10</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Poparcie dla rządu</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.government_support|rounded }}/10</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Wiek</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.age|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Liczba dzieci</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.number_of_children|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Rozmiar domu</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.size_of_house|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Minuty dojazu do pracy</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.minutes_of_commuting|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Pensja</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.salary|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Odległość od ośrodka zdrowia</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.distance_from_health_care|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Poziom zdrowia</td>
                    {% for data in yearly_data %}
                        <td>{{ data.calculated_mean_data.health_index|rounded }}/100</td>
                    {% endfor %}
                </tr>

                <!-- pola modelu znajduja sie w klasie PersonData w katalogu database_manager (modul models.py) -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
            <h3><strong>Prognozy na lata 2016-2017</strong>
{#                <button class="btn" id="btn-prediction">Wyświetl</button>#}
            </h3>
        </div>
    </div>
    <div class="row view" id="prediction-view">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Cecha</th>
                    {% for data in predicted_data %}
                        <th><strong>Rok {{ data.year }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Zatrudnienie</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.is_employed|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Bezdomność</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.is_homeless|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Kobiety</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.is_female|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Niepełnosprawni</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.is_disabled|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Karani</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.has_been_convicted|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Alkoholizm</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.is_addicted_to_alcohol|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Uzależnienie od tytoniu</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.is_a_smoker|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Choroby kardiologiczne</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.has_heart_issues|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Uzależnienie od narkotyków</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.is_addicted_to_drugs|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Aktywność fizyczna</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.is_active|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Zdrowa dieta</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.healthy_food|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Choroba nowotworowa</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.has_cancer|percentage }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Wykształcenie</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.education|rounded }}/4</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Zadowolenie z życia</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.happiness|rounded }}/10</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Poparcie dla rządu</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.government_support|rounded }}/10</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Wiek</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.age|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Liczba dzieci</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.number_of_children|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Rozmiar domu</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.size_of_house|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Minuty dojazu do pracy</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.minutes_of_commuting|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Pensja</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.salary|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Odległość od ośrodka zdrowia</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.distance_from_health_care|rounded }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Poziom zdrowia</td>
                    {% for data in predicted_data %}
                        <td>{{ data.calculated_mean_data.health_index|rounded }}/100</td>
                    {% endfor %}
                </tr>

                <!-- pola modelu znajduja sie w klasie PersonData w katalogu database_manager (modul models.py) -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
            <h3><strong>Wykresy</strong>
{#                <button class="btn" id="btn-charts">Wyświetl</button>#}
            </h3>
        </div>
    </div>
    <div id="charts-view" class="view">
        <div class="row">
            <div class="col-md-3"><p>Zatrudnienie</p></div>
            <div class="col-md-3"><p>Bezdomność</p></div>
            <div class="col-md-3"><p>Kobiety</p></div>
            <div class="col-md-3"><p>Niepełnosprawni</p></div>
        </div>
        <div class="row">
            <div class="col-md-3 ct-chart" id="ch-employed"></div>
            <div class="col-md-3 ct-chart" id="ch-homeless"></div>
            <div class="col-md-3 ct-chart" id="ch-female"></div>
            <div class="col-md-3 ct-chart" id="ch-disabled"></div>
        </div>
        <div class="row">
            <div class="col-md-3"><p>Karani</p></div>
            <div class="col-md-3"><p>Alkoholizm</p></div>
            <div class="col-md-3"><p>Uzależnienie od tytoniu</p></div>
            <div class="col-md-3"><p>Choroby kardiologiczne</p></div>
        </div>
        <div class="row">
            <div class="col-md-3 ct-chart" id="ch-convicted"></div>
            <div class="col-md-3 ct-chart" id="ch-alcohol"></div>
            <div class="col-md-3 ct-chart" id="ch-smoker"></div>
            <div class="col-md-3 ct-chart" id="ch-heart"></div>
        </div>
        <div class="row">
            <div class="col-md-3"><p>Uzależnienie od narkotyków</p></div>
            <div class="col-md-3"><p>Aktywność fizyczna</p></div>
            <div class="col-md-3"><p>Zdrowa dieta</p></div>
            <div class="col-md-3"><p>Choroba nowotworowa</p></div>
        </div>
        <div class="row">
            <div class="col-md-3 ct-chart" id="ch-drugs"></div>
            <div class="col-md-3 ct-chart" id="ch-active"></div>
            <div class="col-md-3 ct-chart" id="ch-food"></div>
            <div class="col-md-3 ct-chart" id="ch-cancer"></div>
        </div>
        <div class="row">
            <div class="col-md-3"><p>Wykształcenie</p></div>
            <div class="col-md-3"><p>Zadowolenie z życia</p></div>
            <div class="col-md-3"><p>Poparcie dla rządu</p></div>
            <div class="col-md-3"><p>Wiek</p></div>
        </div>
        <div class="row">
            <div class="col-md-3 ct-chart" id="ch-education"></div>
            <div class="col-md-3 ct-chart" id="ch-happiness"></div>
            <div class="col-md-3 ct-chart" id="ch-government"></div>
            <div class="col-md-3 ct-chart" id="ch-age"></div>
        </div>
        <div class="row">
            <div class="col-md-3"><p>Liczba dzieci</p></div>
            <div class="col-md-3"><p>Rozmiar domu</p></div>
            <div class="col-md-3"><p>Minuty dojazdu do pracy</p></div>
            <div class="col-md-3"><p>Pensja</p></div>
        </div>
        <div class="row">
            <div class="col-md-3 ct-chart" id="ch-children"></div>
            <div class="col-md-3 ct-chart" id="ch-house"></div>
            <div class="col-md-3 ct-chart" id="ch-commuting"></div>
            <div class="col-md-3 ct-chart" id="ch-salary"></div>
        </div>
        <div class="row">
            <div class="col-md-6"><p>Odległość od ośrodka zdrowia</p></div>
            <div class="col-md-6"><p>Poziom zdrowia</p></div>
        </div>
        <div class="row">
            <div class="col-md-6 ct-chart" id="ch-health_care_dist"></div>
            <div class="col-md-6 ct-chart" id="ch-health"></div>
        </div>
    </div>


{% endblock %}

{% block Javascript %}
    <script src="{% static 'js/psycho_charts.js' %}"></script>
    <script>
        createWiderChart('#ch-employed', {{ charts_data.is_employed }}, {{ predicted_charts_data.is_employed }});
        createWiderChart('#ch-homeless', {{ charts_data.is_homeless }}, {{ predicted_charts_data.is_homeless }});
        createWiderChart('#ch-female', {{ charts_data.is_female }}, {{ predicted_charts_data.is_female }});
        createWiderChart('#ch-disabled', {{ charts_data.is_disabled }}, {{ predicted_charts_data.is_disabled }});
        createWiderChart('#ch-convicted', {{ charts_data.has_been_convicted }}, {{ predicted_charts_data.has_been_convicted }});
        createWiderChart('#ch-alcohol', {{ charts_data.is_addicted_to_alcohol }}, {{ predicted_charts_data.is_addicted_to_alcohol }});
        createWiderChart('#ch-smoker', {{ charts_data.is_a_smoker }}, {{ predicted_charts_data.is_a_smoker }});
        createWiderChart('#ch-heart', {{ charts_data.has_heart_issues }}, {{ predicted_charts_data.has_heart_issues }});
        createWiderChart('#ch-drugs', {{ charts_data.is_addicted_to_drugs }}, {{ predicted_charts_data.is_addicted_to_drugs }});
        createWiderChart('#ch-active', {{ charts_data.is_active }}, {{ predicted_charts_data.is_active }});
        createWiderChart('#ch-food', {{ charts_data.healthy_food }}, {{ predicted_charts_data.healthy_food }});
        createWiderChart('#ch-cancer', {{ charts_data.has_cancer }}, {{ predicted_charts_data.has_cancer }});
        createWiderChart('#ch-education', {{ charts_data.education }}, {{ predicted_charts_data.education }});
        createWiderChart('#ch-happiness', {{ charts_data.happiness }}, {{ predicted_charts_data.happiness }});
        createWiderChart('#ch-government', {{ charts_data.government_support }}, {{ predicted_charts_data.government_support }});
        createWiderChart('#ch-age', {{ charts_data.age }}, {{ predicted_charts_data.age }});
        createWiderChart('#ch-children', {{ charts_data.number_of_children }}, {{ predicted_charts_data.number_of_children }});
        createWiderChart('#ch-house', {{ charts_data.size_of_house }}, {{ predicted_charts_data.size_of_house }});
        createWiderChart('#ch-commuting', {{ charts_data.minutes_of_commuting }}, {{ predicted_charts_data.minutes_of_commuting }});
        createWiderChart('#ch-salary', {{ charts_data.salary }}, {{ predicted_charts_data.salary }});
        createWiderChart('#ch-health_care_dist', {{ charts_data.distance_from_health_care }}, {{ predicted_charts_data.distance_from_health_care }});
        createWiderChart('#ch-health', {{ charts_data.health_index }}, {{ predicted_charts_data.health_index }});

{#        $(document).ready(function () {#}
{#            $('.view').hide();#}
{##}
{#            $('#btn-data').click(function () {#}
{#                $('#data-view').fadeIn('slow');#}
{#            });#}
{#            $('#btn-prediction').click(function () {#}
{#                $('#prediction-view').fadeIn('slow');#}
{#            });#}
{#            $('#btn-charts').click(function () {#}
{#                $('#charts-view').fadeIn('slow');#}
{#            });#}
{#        });#}
    </script>
{% endblock %}