{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="jumbotron">
        <h1>Psychohistoria</h1>

        <p>Przewidujemy przyszłość!</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <div id="select-1-country">
                    <h3 class="text-center"><strong>Statystyki państw</strong></h3>
                    <h5>Wybierz interesujące Cię państwo, aby poznać jego dokładne statystyki.</h5>
                    <hr>
                    <div id="select-1-country-buttons">
                        {% for country in countries %}
                            <button class="btn btn-success btn-countries"
                                    onclick="window.location.href='{% url "country-info" country.id %}'">
                                {{ country.name }}
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h3 class="text-center"><strong>Porównanie dwóch państw</strong></h3>
                <h5>Statystyki porównawcze oraz wskaźniki wpływu państw na siebie. Zaznacz dwa państwa i zatwierdź.</h5>
                <hr>
                <p><strong>Pierwsze państwo:</strong></p>

                <div id="select-2-countries-a">
                    {% for country in countries %}
                        <button class="btn btn-success btn-countries btn-select" id='{{ country.id }}A'
                                onclick="selectButtonCountry('{{ country.id }}');">
                            {{ country.name }}
                        </button>
                    {% endfor %}
                </div>
                <br>

                <p><strong>Drugie państwo:</strong></p>

                <div id="select-2-countries-b">
                    {% for country in countries %}
                        <button class="btn btn-success btn-countries btn-select" id='{{ country.id }}B'
                                onclick="selectButtonCountry('{{ country.id }}');">
                            {{ country.name }}
                        </button>
                    {% endfor %}
                </div>
                <br>
                <button class="btn btn-success btn-block btn-countries-selected"
                        id="btn-compare"
                        onclick="submitButtonCountry2()">
                    Zatwierdź
                </button>
            </div>
        </div>
    </div>
{% endblock %}

