{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="row">
        <div class="col-md-7">
            <div class="well well-sm">
                <p>Proszę wybrać państwo, a następnie z listy która się ukaże dowolną osobę. Po prawej stronie będzie
                można wybrać rok, aby zobaczyć dane wybranej osoby w tym roku.</p>
            </div>
            <h3><strong>Wybierz państwo:</strong></h3>
            {% for country in countries %}
                <button class="btn btn-primary" onclick="getAjaxPeopleInfo({{ country.id }})">
                    {{ country.name }}
                </button>
            {% endfor %}
            <hr>
            <div id="people_data">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID osoby</th>
                        <th>Miasto zamieszkania</th>
                    </tr>
                    </thead>
                    <tbody id="people_data_body">
                    <!-- wypełnia się AJAXem -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <div class="well well-sm" id="well-person-data">
                <h3><strong>Dane wybranej osoby (ID <span id="person-id">?</span>)</strong></h3>

                <div id="select-year">
                    <hr>
                    <h4>Wybierz rok:</h4>
                    <button class="btn btn-success btn-year" onclick="setYearValue(2011)">2011</button>
                    <button class="btn btn-success btn-year" onclick="setYearValue(2012)">2012</button>
                    <button class="btn btn-success btn-year" onclick="setYearValue(2013)">2013</button>
                    <button class="btn btn-success btn-year" onclick="setYearValue(2014)">2014</button>
                    <button class="btn btn-success btn-year" onclick="setYearValue(2015)">2015</button>
                    <hr>
                </div>
                <div id="person_data">
                    <!-- wypełnia się AJAXem -->
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block Javascript %}
    <script src="{% static 'js/people_info.js' %}"></script>
{% endblock %}